ul{
    padding: 0;
    margin: 0;
}
li{
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.accordion-button{
    background-color: #d9d9d9d9;
    border-bottom: 1px solid black;
    max-width: 100%;
    width: 100%;
}
.accordion{
    border: 5px solid #d9d9d9d9;
    border-radius: 5px;
    width: 60%;
}

.accordion-button:not(.collapsed) {
    color: 0;
    background-color: #d9d9d9d9;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none; 
}

.accordion-button:not(.collapsed) {
    color: rgb(218, 11, 11);
    background-color:#d9d9d9d9;
    box-shadow: none;
}
span{
    font-weight: 600;
}
li:hover{
    font-weight: 800;
    font-size: larger;
}